@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  padding: 0;
  max-width: 100%;
}

/* 메인페이지 */
.text-header-gradient {
  background: rgb(57, 132, 244);
  background: linear-gradient(169.4deg, #3984f4 -6.01%, #0cd3ff 36.87%, #2f7cf0 78.04%, #0e65e8 103.77%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-partner {
  background: url('/img/partner/background.png');
  background-size: cover;
  background-position: center;
}
.bg-trading-tools {
  background: url('/img/bg-trading-tools.webp');
  background-size: cover;
  background-position: center;
}
.max-h-0 {
  max-height: 0;
}

/* 모달 */
#modal .shell{
  padding: 20px;
  background-color: white;
  /* padding-left: 0!important;
  padding-right: 0!important; */
  max-width: 440px;
  overflow-y: auto!important;
  max-height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  z-index: 999;
  margin: 0 auto;
  width: 100%;
}

#modal .button{
  border: 1px solid lightgray;
  background-color: transparent;
  /* color: var(--link-color); */
  border-radius: 23px;
  height: 46px;
  font-size: 18px;
}

#modal .modal-body{
  max-height: 200px;
  flex: auto;
  text-align: initial;
  overflow-y: auto;
  overflow-x: hidden;
}